body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
}

header {
  background: #111;
  padding: 15px;
  text-align: center;
  color: #fff;
}

nav a {
  color: #fff;
  margin: 0 10px;
  font-weight: bold;
  text-decoration: none;
}

.hero {
  background: url('https://source.unsplash.com/1600x900/?trailer,utility,black') center/cover no-repeat;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  background: rgba(0,0,0,0.6);
  padding: 20px 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.btn {
  display: inline-block;
  background: #ffb400;
  padding: 10px 20px;
  margin-top: 10px;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

#modelos {
  padding: 40px 20px;
  text-align: center;
}

.categoria {
  background: #fff;
  padding: 20px;
  margin: 25px auto;
  border-radius: 10px;
  width: 90%;
  max-width: 1100px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.galeria img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.precio {
  font-size: 22px;
  font-weight: bold;
  color: #ff9600;
}

#contacto {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  text-align: center;
}

footer {
  background: #111;
  color: #fff;
  padding: 15px;
  text-align: center;
}
